@font-face {
    font-family: 'Odin Rounded - Bold';
    src: url('../fonts/Odin Rounded - Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'High Tide';
    src: url('../fonts/HighTide.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed Light';
    src: url('../fonts/Open Sans Condensed Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'dymaxion';
    src: url('../fonts/dymaxion.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
