
@import "fonts.css";

.header {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    height: 10%;
}

.header h1 {
    font-family: 'Odin Rounded - Bold';
    font-size: 35px;
    padding: 25px 30px;
    margin: 0;
    color: white;
}

.search {
    text-align: right;
}

.search a:before {
    content: '';
    width: 30px;
    height: 31px;
    display: inline-block;
    vertical-align: middle;
    padding: 20px 30px;
    background: url(../img/search.gif) no-repeat center center;
}

.bicycle {
    height: 770px;
    background-blend-mode: multiply;    
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
}

.bicycle::before {
    content:'';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba( 255, 255, 255, 0.1);
}

/* Блок с кнопкой */
.main {
    text-align: center;
    padding: 30% 0;
    color: white;
}

.blue {
    background-image: linear-gradient(to bottom, #225DE8 0%, #48b1b0 100%), url(../img/bicycle1.jpg);
}

.blue h2, .purple h2 {
    margin: 0;
    font-size: 70px;
    font-weight: normal;
}

.blue h2 {
    font-family: 'High Tide';
}

.purple h2 {
    font-family: 'dymaxion';
}

.purple {
    background-image: linear-gradient(to bottom, #7e31c0 0%, #e192ff 100%), url(../img/bicycle2.jpg);
}


.blue p, .purple p {
    font-family: 'Open Sans Condensed Light';
    font-size: 50px;
    line-height: 0;
    margin-top: 10px;
}

input[type="button"] {
    border: none;
    font-family: 'Open Sans Condensed Light';
    padding: 10px 25px;
    color: white;
    background: rgba(255, 255, 255, 0.1);
}