<h3>Paste <% title || 'untitled' %></h3>
<div class="show_paste">
    <ol>
        <% FOR t IN text %>
        <li><% t %></li>
        <% END %>
    </ol>
</div>

<h3>Raw data</h3>
<div>
    <textarea name="textpaste" class="paste_textarea" cols="30" rows="15" style="overflow: hidden; word-wrap: break-word; resize: none; height: 400px"><% raw %></textarea>
</div>